                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{user.username}}</td>
                        <td>{{snake_score}}</td>
                    </tr>