                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{user.username}}</td>
                        <td>{{snake_wins}} wins {{snake_loss}} losses</td>
                    </tr>