                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{user.username}}</td>
                        <td>{{tictactoe_win}}</td>
                        <td>{{tictactoe_loss}}</td>
                    </tr>