<link rel="stylesheet" type="text/css" href="/games/connect4/connect4.css">
<div id="mainContainer"> 
    <div id="gameContainer">
        <section id="gameDisplay">
            {{!-- Game Board is attached here through script.js --}}
        </section>
    </div>
    <div id="startDiv">
        <button id="gameStart">Start Game</button>    
    </div> 
</div>

<script src="/games/connect4/game.js"></script>
<script src="/games/connect4/fetch.js"></script>
<script src="/games/connect4/script.js"></script>