<body>
    <div class="container mt-5">
        <h2 class="mb-4">Leaderboard</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {{#each leaderboardData}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{username}}</td>
                        <td>{{score}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>