<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<main>
    <p>Welcome to Super Basic Minigames - Your Ultimate Gaming Experience!</p>

    {{#if currentUser}}
        <p>Hello, {{ currentUser }}! <a href="/logout">Logout</a></p>
    {{else}}
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p class="signup-link">Need to sign up? <a href="/register">Signup!</a></p>
        <script src="/js/login.js"></script>
    {{/if}}

</main>
