<main>
    <p>Welcome to Super Basic Minigames - Your Ultimate Gaming Experience!</p>

    {{#if user}}
        <p>Hello, {{ user }}! <a href="#">Logout</a></p>
    {{else}}
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="button" onclick="login()">Login</button>
        </form>
    {{/if}}
</main>
