<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<body>
    <h1>User Registration</h1>
    
   
    <form class="signup-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>

    <p class="signup-link">Already have an account? <a href="/login">Login</a></p>
    <script src='/js/signup.js'></script>
</body>