<link rel="stylesheet" type="text/css" href="/games/snake/snake.css">
<div id="mainContainer"> 
    <div id="snakeContainer">
        <section id="snakeDisplay">
            {{!-- Snake Board is attached here through script.js --}}
        </section>
    </div>
    <div id="startDiv">
        <button id="snakeStart">Start Game</button>    
    </div> 
</div>

<script src="/games/snake/game.js"></script>
<script src="/games/snake/fetch.js"></script>
<script src="/games/snake/script.js"></script>