<div id="snakeContainer">
    <section id="snakeDisplay">




    </section>
</div>
<script src="../dist/controller.js"></script>
<script src="/games/snake.js"></script>
<script src="/js/display.js"></script>
<script src="/js/fetch.js"></script>
<script src="/js/main.js"></script>