<link rel="stylesheet" type="text/css" href="/css/snake.css">
<div id="mainContainer">   
    
    <div id="snakeContainer">
        <section id="snakeDisplay">




        </section>

    </div>
    <div id="startDiv">
        <button id="snakeStart">Start Game</button>    
    </div> 

</div>

<script src="/games/snake.js"></script>
<script src="/js/display.js"></script>
<script src="/js/fetch.js"></script>
<script src="/js/main_snake.js"></script>