<div id="snakeContainer">
    <section id="snakeDisplay">




    </section>
</div>
<script src="/games/snake.js"></script>
<script src="/js/display.js"></script>
<script src="/js/fetch.js"></script>
<script src="/js/main_snake.js"></script>