html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #343a40;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

header {
  background-color: #343a40;
  color: #fff;
  padding: 1em;
  text-align: center;
  max-height: 95px;
}

h1 {
  text-align: center;
  color: #343a40;
}

main {
  padding: 1em;
  text-align: center;
}

form {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

label {
  margin-bottom: 0.5em;
}

input {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #343a40;
  border-radius: 4px;
}

button {
  padding: 0.5em;
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1d2124;
}

p.signup-link {
  margin-top: 1em;
  text-align: center;
}

p.signup-link a {
  color: #343a40;
  text-decoration: none;
  font-weight: bold;
}

p.signup-link a:hover {
  text-decoration: underline;
}

a {
  color: #343a40;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: #1d2124;
  text-decoration: underline;
}

section {
  margin-top: 1.5em;
}

.leaderboard,
.game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1em;
  padding: 1.5em;
  text-align: center;
  width: 300px;
}

.game-card h3 {
  color: #343a40;
}

.game-card p {
  color: #6c757d;
}

.game-card button {
  padding: 0.5em 1em;
  background-color: #343a40;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.game-card button:hover {
  background-color: #1d2124;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 1em;
  text-align: center;
  bottom: 0;
  width: 100%;
}

#topNavigation {
  flex-direction: row-reverse !important;
  justify-content: flex-end !important;
}

#topNavigation a {
  margin-left: 10px;
}

.content-center {
  justify-content: center;
}

.content-center .card {
  margin: 10px;
}

.content-center .card img {
  height: 270px;
}

.mainHome {
  padding: 11em;
}

.connectstart {
  padding-bottom: 350px;
}
