.square {
    width: 80px;
    height: 80px;
    position: relative;
    background-color: #73B9EE;
    border: black solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square::after {      
    content: attr(data-status);
    font-size: 60px; 
    color: yellow;
}

#gameDisplay {
    display: flex;
    flex-direction: column;    
}

.row {
    display: flex;  
}

#gameContainer {
    display: flex;
    justify-content: center;    
}

#mainContainer {
    display: flex;
    justify-content: center;
}

.bufferDiv {
    width: 200px;
    display:flex;
}

#gameStart {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50; /* Green background color */
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 200px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}
